header{
    height: 10vh;
    background-color: rgb(5, 40, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
header > a{
    color: white;
    text-decoration: none;
}
#homeLink{
    font-size: 30px;
}